.lander
  .tile
    .start-session
      .tile-title Start Session
      .form
        button Start a Session
  .tile
    .join-session
      .tile-title Join Session
      .form
        input.session-id
        button.join-session Join Session
